@font-face {
    font-family: 'anime';
    src: url('animeace3bb_bold-webfont.woff2') format('woff2'),
        url('animeace3bb_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anime';
    src: url('animeace3bb_regular-webfont.woff2') format('woff2'),
        url('animeace3bb_regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
